<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
<table class="table1">
{% for table in tables %}
<thead>
    <tr>
            <th>På pause nå</th>
    </tr>
</thead>
<tbody>
        <tr>
            <td>{{ table|safe }}</td>
        </tr>
</tbody>
{% endfor %}
</table>
<table class="table2">
    {% for table2 in tables2 %}
    <thead>
        <tr>
                <th>Alle pauser</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{ table2|safe }}</td>
            </tr>
    </tbody>
    {% endfor %}
    </table>
</div>
</body>
<script>
    if (window.addEventListener) {
        window.addEventListener('load', WindowLoad, false);
    } else if (window.attachEvent) {
        window.attachEvent('onload', WindowLoad)
    }

    function WindowLoad(event) {
        if (window.location.href.indexOf('page_y') != -1) {
            var page_y = window.location.href.split('=')[1];
            setTimeout(function(){
                window.scrollTo(0, page_y)
            }, 2)
        }
        timer()
    }

    var timer = function Wait() {
        setTimeout(function(){
            var page_y = document.body.scrollTop;
            if (window.location.href.indexOf('page_y') == -1) {
                window.location.href = window.location.href + '?page_y=' + page_y;
            }else {
                var s = window.location.href.split('?')[0];
                window.location.href = s + '?page_y=' + page_y
            }
        }, 10000)
    }
</script>
</html>