<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<form>
    <a href=valg><input type='button' value='Tilbake' id='back'></a>
</form>
<div>
<h2>Registrer ut</h2>
<form action=done_out method='POST'>
<select name='id' onchange="EnableDisableBtn(this)">
    <option id='dropDown' value='placeholder' disabled SELECTED hidden>Velg et navn</option>
    {% for value in data %}
    <option value= "{{value[2]}}">{{value[0]}} ({{value[1]}})</option>
    {% endfor %}
</select><br>
<input id='btn' type='submit' value='Registrer ut' class='button' disabled="disabled">
</form>
</div>
<script>
    setTimeout(function(){
        window.location.href = 'valg';
    }, 60000);

    function EnableDisableBtn(dropDown) {
        var btn = document.getElementById('btn');
        if (dropDown.value.trim() == 'placeholder') {
            btn.disabled = true;
        } else {
            btn.disabled = false;
        }
    };
</script>